.app-view {
  margin-top: 20px;
  
  .load-repos {
    img {
      display: none;
      margin: 0 auto;
    }
  }
  
  &.loading {
    .load-repos {
      span {
        display: none;
      }
      img {
        display: block;
      }
    }
  }

}