.app-view {
  margin-top: 100px;
  
  .load-repos {
    img {
      display: none;
      margin: 0 auto;
    }
  }
  
  &.loading {
    .load-repos {
      span {
        display: none;
      }
      img {
        display: block;
      }
    }
  }  
  
  .instructions {
    margin-top: 100px;
    @media #{$small-only} {
      margin-top: 10px;
    }
  }
  
  @media #{$small-only} {
    margin-top: 30px;
  }
}

.screen-shot {
  opacity: 0.8;
}